
<form action="{{ path('task_pegas') }}" method="get" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
</form>
<div>
    <h3>Google/Yandex</h3>
    <ul>
    {% for key, item in data.general %}
        <li>
            <a href="{{key}}">{{item.title}}</a>
            <strong>{{item.content}}</strong>
        </li>
    {% endfor %}
    </ul>
</div>
<div>
    <h3>Google</h3>
    <ul>
    {% for key, item in data.google %}
        <li>
            <a href="{{key}}">{{item.title}}</a>
            <strong>{{item.content}}</strong>
        </li>
    {% endfor %}
    </ul>
</div>
<div>
    <h3>Yandex</h3>
    <ul>
    {% for key, item in data.yandex %}
        <li>
            <a href="{{key}}">{{item.title}}</a>
            <strong>{{item.content}}</strong>
        </li>
    {% endfor %}
    </ul>
</div>